<!DOCTYPE HTML>
<html>


<body>

        <span><a href="/user"> Users List </a></span>


        <div>
            <form action="/logout" method="post">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                <input type="submit" value="Sign Out"/>
            </form>
        </div>

        <div>
            <form method="post">
                <input type="text" name="postText" placeholder="Write some post">
                <input type="text" name="postTag" placeholder="Post tag">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                <button type="submit">POST</button>
            </form>
        </div>


<div>POSTS</div>

        <div>
            <form method="get" action="/main">
                <input type="text" name="filter">
                <button>FILTER POSTS</button>
            </form>
        </div>


        {{#posts}}
        <div>

            <b>{{id}}</b>
            <b>{{postText}}</b>
            <i>{{postTag}}</i>
            <strong>{{authorName}}</strong>

        </div>
        {{/posts}}

</body>

</html>