<!DOCTYPE HTML>
<html>


<body>

<table>

    <thead>
    <tr>
        <th>ID</th>
        <th>User Name</th>
        <th>Roles</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    {{#allUsers}}
    <tr>
        <td>{{id}}</td>
        <td>{{username}}</td>
        <td>{{#roles}}<div>{{.}}</div>{{/roles}},</td>
        <td><a href="/user/{{id}}"> EDIT </a></td>
    </tr>
    {{/allUsers}}
    </tbody>

</table>

</body>

</html>